*.pyc
[0-9].log
*.csv
*.pickle
trials/html/
*test.yaml
client.py 
sampleText.txt
example.py
login.py
*.tar
*.zip
*.out
*.tgz
config/docker/test-26.yaml
config/docker/test.yaml
config/docker/three-child.yaml
sensor/test.sh
logs/test.log